DATABASE_URL=postgresql+asyncpg://user:password@host/dbname
TELEGRAM_BOT_TOKEN=your-telegram-bot-token
FRONTEND_URL=http://localhost:5173
ADMIN_PHONE=998XXXXXXXXX
CARD_NUMBER=XXXX XXXX XXXX XXXX
CARD_HOLDER=Your Name
CARD_EXPIRY=MM/YY
RENDER_EXTERNAL_URL=
PORT=8000

# Cloudinary (https://cloudinary.com dan oling)
CLOUDINARY_CLOUD_NAME=your-cloud-name
CLOUDINARY_API_KEY=your-api-key
CLOUDINARY_API_SECRET=your-api-secret